@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
}
#all_the_category {
  display: flex;
  border-bottom: 1px solid rgba(135, 206, 235, 0.4);
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px rgba(135, 206, 235, 0.4);
}
#logo_gaza {
  width: 10%;
  height: 100%;
  float: left;
}
#logo_gaza > a > img {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  margin-left: 20px;
}
a {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
}

#all_the_menu {
  width: 40%;
  height: 100%;
}
#all_the_menu > ul {
  display: flex;
  justify-content: space-evenly;
}

#login_menu {
  width: 50%;
  height: 100px;
}
#login_menu > ul {
  display: flex;
  float: right;
}

#login_menu > ul > li {
  margin-right: 40px;
}

#all_the_category li {
  margin-top: 30px;
}

#all_the_menu p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

#admist_01 p {
  color: rgba(0, 0, 255, 0.5);
  font-weight: bold;
}

#login_01 p {
  color: rgba(255, 0, 0, 0.5);
  font-weight: bold;
}
#about_01 p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
